<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #bookForm="ngForm" (ngSubmit)="submitBookRequestForm(bookForm)">
        <div class="form-group">
          <label for="title">Book Title</label>
          <input type="text" id="title" name="title" ngModel>
        </div>
        <div class="form-group">
          <label for="author">Book Author</label>
          <input type="text" id="author" name="author" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>